<article>
        <mat-card >
            <mat-card-content>
                <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="know_more">Know More...</button>
            </mat-card-actions>
        </mat-card>  
</article>
<aside>
    <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
</aside>