@import './../common.scss';

article *,aside *{
    color: $white-color;
}
article .card{
    background: $nocolor;
}
.card-actions{
    text-align: right;
}
.know_more{
    align-content: right;
}

@media screen and (max-width: 768px){

}