<article>
        <mat-card class="card">
            <mat-card-content>
                <h2>
                    {{compInfo.primarycontent}}
                </h2>
                <p> 
                    {{sInfo[0]}}
                </p>
                <p>
                    {{sInfo[1]}}
                </p>
            </mat-card-content>
            <mat-card-actions class="card-actions">
                <button mat-button class="know_more" routerLink='/dash'>Know More...</button>
            </mat-card-actions>
        </mat-card>  
</article>
<aside>
    <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
</aside>